
<div id="wrapper" nz-row>
    <div nz-col nzSpan="24">
      <div (click)='showModal("add")' class="add-user"> 
          <i class="anticon anticon-plus-circle"></i> Add User
      </div>
    </div>
  <div nz-col nzSpan="8" *ngFor="let user of users">
    <app-user-card [user]="user" (edit)="onedit($event)" >
  </app-user-card>
</div>
<div nz-col nzSpan="24">
<nz-pagination  [nzPageIndex]="page_no" (nzPageIndexChange)="paginate($event)" [nzTotal]="total_users"></nz-pagination>
</div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="{{modalTitle}}" (nzOnCancel)="Cancel()" (nzOnOk)="AddUser()">
    <input nz-input placeholder="Name" [(ngModel)]="currentUser.name">
    <input nz-input placeholder="Designation" [(ngModel)]="currentUser.job">
  </nz-modal>