#wrapper {
    margin: 4%;
    margin-left: 10%;
}

#wrapper .ant-col-8 {
    margin-bottom: 2%;
}

.add-user{
    max-width: max-content;
    float: right;
    margin-right: 6%;
    background-color: #fec009;
    color: #fff;
    padding: 0.7%;
    margin-bottom: 0.5%;
    border-radius: 3px;
    cursor: pointer;
}

nz-modal input {
    margin: 2%
}